body{
    color:#333;
    font-family:arial;
    font-size: 12px;
    background:white;
    font:400 1em/1.5 PingFang SC,Lantinghei SC,Helvetica Neue,Microsoft Yahei,Hiragino Sans GB,Microsoft Sans Serif,WenQuanYi Micro Hei,sans
}
input,textarea,select{
    font-size:12px;
    font-size:100%;    
    font-family:arial;
    font-family:inherit;
}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,form{
    margin:0;
}
h4,h5,h6{
    font-size:1em;
}
ul,ol{
    padding-left:0; 
    list-style-type:none;
}
a{
	text-decoration: none;	
}
.clear{clear: both;}
.delta{
	position: absolute;
	width: 0;
	height: 0;
	border-bottom:6px solid black;
	border-top:6px solid transparent;
	border-left:6px solid transparent;
	border-right:6px solid transparent;
}
.delta-line{
	width: 10px;
	height: 10px;
	border-top:1px solid #e6e6e6;
	border-left: 1px solid #e6e6e6;
	transform:rotate(-45deg);
}

//变量定义
$wrapper-width:80%;

.menu-right{
	background-color: #504d53;
	width: 32px;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	font-size: 15px;
	font-weight: bold;
	a{	
		position:relative;
		&:hover{
			background-color: #0089dc;
			.icon-explain{
				visibility:visible;
				opacity:1; 
				-webkit-transition:all 0.3s linear;
   				-moz-transition:all 0.3s linear;
   				-ms-transition:all 0.3s linear;
   				-o-transition:all 0.3s linear;
   				transition:all 0.3s linear;			
			}
		}
		color:#ccc;
		display: block;
		width: 100%;
		height: auto;
		padding:2px 0 2px 10px;
		margin:10px 0 10px 0;
		.icon-explain{
			-webkit-transition:all 0.3s linear;
   			-moz-transition:all 0.3s linear;
   			-ms-transition:all 0.3s linear;
   			-o-transition:all 0.3s linear;
   			transition:all 0.3s linear;		
			visibility:hidden;
			opacity:0; 
			position: absolute;
			top: 0px;
			right: 45px;
			span{
				font-size: 12px;
				background-color: #999;
				width: 50px;
				padding: 0 5px;
				height: 30px;
				line-height: 30px;
				display: inline-block;
				border-radius: 3px;
			}
			.delta-right{
				transform:rotate(90deg);
				position: absolute;
				right: -14px;
				top:10px;
				border-bottom-color: #999;
			}
		}
	}
	.menu-right-top{
		position: absolute;
		top: 126px;
		span{
			width: 15px;
			font-size: 13px;
		}
		.line{
			margin-left: 10px;
			height: 0;
			width: 14px;
			border-top: 1px solid #fff;
		}
	}
	.menu-right-bottom{
		position: absolute;
		bottom: 55px;
		a{
			position: relative;
			font-size: 20px;
			padding-left: 8px;
			.delsao{
				display: none;
				border: 1px solid #999;
				background-color: #fff;
				padding: 8px 8px 0 8px;
				position: absolute;
				right: 35px;
				top: -120px;
				font-size: 12px;
				.saoma{
					img{
						width: 111px;
						height: 111px;
					}	
					span{
						text-align: center;
						display:block;
						font-weight: 300;
						font-size: 15px;
						line-height: 24px;
						color: #26a2ff;
					}
					p{
						text-align: center;
						font-size: 12px;
						color:#f63;
						display: block;
					}			
				}
				.delta{
					position: absolute;
					right: -13px;
					top: 130px;
					transform:rotate(90deg);
					border-bottom-color: #fff;
				}
			}
		}
		.topback{
			display: none;
			padding-left: 7px; 
			img{
				width: 20px;
				height: 20px;
			}
		}
		.line{
			margin-left: 10px;
			height: 0;
			width: 14px;
			border-top: 1px solid #fff;
		}
	}
}
@media screen and (max-height:  550px) and (min-height:  500px){
	.menu-right-bottom .qrcode{display: none;}
}
@media screen and (max-height:  499px) and (min-height:  329px){
	.line,.menu-right-bottom .qrcode,.menu-right-bottom .kefu,.menu-right-top .dingdan,.menu-right-top .xinxi,.menu-right-top .lishi{display: none;}
	
}
@media screen and (max-height:  330px){
	.line,.menu-right-top .gouwuche,.menu-right-bottom .qrcode,.menu-right-bottom .kefu,.menu-right-top .dingdan,.menu-right-top .xinxi,.menu-right-top .lishi{display: none;}
	
}

.menu-head{
	$menu-head-height:55px;
	width: 100%;
	background-color: #1e89e0;
	.menu-head-wrapper{
		width: $wrapper-width;
		margin:0 auto;
	}
	.menu-head-logo{
		margin-left: 0;
		float: left;
		a{
			font-size: 0;
			line-height: 0;
			height: 0;
			img{
				vertical-align:middle;
			}
		}
	}
	.menu-head-left{
		margin-left: 5px;
		float: left;
		a:first-child {background-color:#006bc7 }
		a{
			font-size:14px ;
			display: block;
			float: left;	
			height: $menu-head-height;
			line-height: $menu-head-height;
			padding: 0 38px 0 38px;
			color: #fff;
			&:hover{
				background-color: #006bc7;
			}
		}
	}
	.menu-head-middle{
		position: relative;
		float: left;
		margin-left: 130px;
		a{
			font-size: 13px;
			color:#d2e7f9;
			line-height:$menu-head-height;
			margin-right: 18px;
			&:hover{
				color:#fff;
			}
			i{
				font-size: 20px;
				padding-right: 10px;
			}
		}
		.delsao{
			display: none;
			position: absolute;
			top: 50px;
			left: 200px;
			.saoma{
		 		background-color: #fff;
		 		border: 1px solid #999;
		 		padding: 0 10px 9px 10px;
				p{
		 			font-size:14px;
		 			line-height: 40px;
		 			font-weight: 700;
		 		}
		 		img{
		 			width: 154px;
		 			height: 154px;
		 		}
		 	}
			.delta{
				position: absolute;
		 		left: 5px;
		 		top: -13px;
		 		border-bottom-color: #fff;
			}
		}
	}
	.menu-head-right{
		float: right;
		a{
			font-size: 14px;
			color:#fff;
			line-height: $menu-head-height;
			i{
				font-size: 20px;
				margin-right: 10px;
			}
		}
	}
}

.menu-scroll{
	background-color: #fff;
	z-index: 3;
	width: 80%;
	left: 0;
	right: 0;
	margin: auto;
	position: fixed;
	top: 0;
	left: 0;
	visibility: hidden;
	background-color: #f5f5f5;
	font-size: 13px;
	border: {
		bottom: 1px solid #e6e6e6;
		left: 1px solid #e6e6e6;
		right:1px solid #e6e6e6;
	}
	span{
		float: left;
		height: 40px;
		line-height: 40px;
		vertical-align: 35%;
		display: inline-block;
		padding: 0 10px 0 10px;
		a{
			font-size: 14px;
			color: #0089dc;
		}
	}
	ul{
		float: left;
		padding-right: 10px;
		li{
			padding: 0 8px 0 8px;
			float: left;
			a{
				height: 40px;
				line-height: 40px;
				color:#666;	
			}
		}
		#Mchoose1 .choFrom{width: 87px;left: 0px;}
		#Mchoose2 .choFrom{width: 130px;left: 0px;}
		#Mchoose1,#Mchoose2{
			position: relative;
			.choFrom{
				font-size: 13px;
				z-index: 3;
				display: none;
				border-bottom: 1px solid #e6e6e6;
				border-left: 1px solid #e6e6e6;
				border-right: 1px solid #e6e6e6;
				background-color: #fff;
				position: absolute;
				top: 0;
				span{
					font-size: 13px;
					padding:0 6px;
					height:auto; 
					display: block;
					font-size: 13px;
					text-align: center;
				}
				.a-list{
					margin-left: 10px;
					float: left;
					a{
						height: 28px;
						line-height: 28px;
						height: auto;
						display: block;	
						text-align: center;
						&:hover{
							color: #0089dc;
						}
					}
				}
			}
		}
	}
	.check4{
		float: left;
		margin: 6px 10px 4px 0;
		padding: 4px 0 4px 0;
		border-left: 1px solid #e6e6e6;
		label{
			margin:0 3px 0 3px;
		}
	}
	.search{
		background-color: #fff;
		margin-right: 2px;
		margin-top: 5px;
		border: 1px solid #ccc;
		float: right;
		form{
			display: inline-block;
			input{
				width: 220px;
				border: none;
				outline: none;
				font-size: 13px;
				line-height: 13px;
				padding-left: 5px;
			}
		}
		a{
			color:#999;
			margin-right: 5px;
			font-size: 18px;
			&:hover{color:#0089dc}
		}	
	}
}



//主体部分
.wrapper{
	width: $wrapper-width;
	margin: 0 auto;

	.now-loca{
		width:100%;
		div:first-child{
			float: left;
			span{
				line-height: 50px;
				margin-right: 5px;
				color: #999;
				font-size: 12px;
			}
			span+span{
				color: #000;
				&:hover{
					color:#0089dc
				}
			}
			a{
				font-size: 12px;
				color:#0089dc;
				line-height: 50px;
			}
		}
		.search{
			border: 1px solid #ccc;
			margin-top: 10px;
			float: right;
			form{
				display: inline-block;
				input{
					width: 200px;
					border: none;
					outline: none;
					font-size: 13px;
					line-height: 13px;
					padding-left: 5px;
				}
			}
			a{

				color:#999;
				margin-right: 5px;
				font-size: 18px;
				&:hover{color:#0089dc}
			}	
		}
	}

	.ad{
		width: 100%
	}

	.mer-classificatin{
		position: relative;
		.girl{
			position: absolute;
			right: 0;
			top: -5px;
			width: 175px;
			height: 50px;
		}
		.classifi{
			a:first-child{
				color:#0089dc;
				border-bottom: 2px solid #0089dc;
			}
			a{
				text-align: center;
				display: inline-block;
				width: 100px;
				line-height: 40px;
				height: 40px;
				margin-bottom: -2px;
				color:#000;
			}
		}
		.classifi-content{
			padding: 10px 0 10px 0;
			font-size: 13px;
			border: {
				top:2px solid #999;
				left: 1px solid #999;
				right: 1px solid #999;
			}
			span{
				font-size: 14px;
				color: #999;
				vertical-align:40%;
				display: inline-block;
				padding: 0 10px 0 10px;
			}
			ul{
				display: inline-block;
				li{
					float: left;
					padding: 3px 10px;
					margin: 0 6px 0 6px;
					a{
						color: #666;
					}
				}
				.li-backgcolor{
					display: inline-block;
					background-color: #0089dc;
					border-radius: 3px;
					a{
						color: #fff;
					}
				}
			}
		}
		.classifi-order{
			background-color: #f5f5f5;
			font-size: 13px;
			border: {
				bottom: 1px solid #e6e6e6;
				left: 1px solid #e6e6e6;
				right:1px solid #e6e6e6;
			}
			.span-title{
				float: left;
				height: 40px;
				line-height: 40px;
				vertical-align: 35%;
				display: inline-block;
				padding: 0 10px 0 10px;
				a{
					font-size: 14px;
					color: #0089dc;
				}
			}
			ul{
				float: left;
				li{
					padding: 0 7px 0 7px;
					float: left;
					a{
						height: 40px;
						line-height: 40px;
						color:#666;	
					}
				}
				#choose1 .choFrom{width: 85px;left: -4px;}
				#choose2 .choFrom{width: 115px;left: 0;}
				#choose1,#choose2{
					position: relative;
					.choFrom{
						z-index: 3;
						display: none;
						border-bottom: 1px solid #e6e6e6;
						border-left: 1px solid #e6e6e6;
						border-right: 1px solid #e6e6e6;
						background-color: #fff;
						position: absolute;
						top: 0;
						span{
							height:auto; 
							display: block;
							font-size: 13px;
							text-align: center;
						}
						.a-list{
							margin-left: 10px;
							float: left;
							a{
								height: 28px;
								line-height: 28px;
								height: auto;
								display: block;	
								text-align: center;
								&:hover{
									color: #0089dc;
								}
							}
						}
					}
				}
			}
			form{
				float: right;
				margin: 6px 10px 4px 0;
				padding: 4px 0 4px 0;
				border-left: 1px solid #e6e6e6;
				label{
					margin:0 3px 0 3px;
				}
			}
		}
		.around-title{
			margin-top: 10px;
			line-height: 40px;
			padding: 0 10px;
			background-color: #fffdee;
			border: 1px solid #ffe4b9;
			p{
				color: #333;
				line-height: 40px;
				font-size: 14px;
				span{
					display: inline-block;
					color: #f63;
					font-size: 20px;
					font-weight: 400;
					padding: 0 3px;
				}
				a{
					color: #0089dc
				}
			}
		}
	}

	.merchant-wrapper{
		border: 1px solid #e6e6e6;
    	border-bottom: 0;
   		margin-top: 20px;
   		.merchant{
   			cursor: pointer;
   			&:hover{
   				background-color: #F5F5F5;
   				.mer-abso{
   					display: block;
   				}
   			}
   			h3{
   				font-size: 14px;
    			margin-bottom: 6px;
   	 			font-weight: 600;
    			overflow: hidden;
    			white-space: nowrap;
    			text-overflow: ellipsis;
   			}
   			position: relative;
   			float: left;
   			width: 25%;
   			border-bottom: 1px #f5f5f5 solid;
   			.merchant-content{
   				position: relative;
   				padding: 20px;
   				span{
   					font-size:13px;
					color:#999;
   				}
   				.mer-image{
   					float: left;
   					padding-right: 20px;
					span{
						display: block;
					}
   				}
   				.merchant-text{
   					float: left;
   					.icon-star{
   						position: relative;
   						font-size: 13px;
   						color:#999;
   						.icon-star-on{
   							color: yellow;
   							position: absolute;
   							top: 0;
   						}	
   					}
   					.merchant-ab{
   						position: absolute;
   						top:48px;
   						right: 20px;
   					}
   					.icon-square{
   						font-size: 12px;
   						margin-top: 9px;
   						i{
   							color: #fff;
   							font-weight: 700;
   							display: inline-block;
   							font-style:normal;
   							margin-right: 3px;
   							line-height: 16px;
   							text-align: center;
   							width: 18px;
   							border-radius:2px;
   						}
   					}
   				}
   			}
   			.mer-abso{
   				display: none;
   				z-index: 2;
   				background-color: #fff;
   				position: absolute;
				right: -265px;
				top: 0;
				width: 270px;
				.delta{
					transform:rotate(-90deg);
					position: absolute;
					left: -11px;
					top: 30px;
					border-bottom-color: #fff;
				}
				.delta-line{
					position: absolute;
					left: -7px;
					top: 30px;
				}
				.abso-text{
					width: 261px;
					border: 1px solid #e6e6e6;
					.abso-content{
						padding: 10px;
						h3{
							display: block;
							border-bottom: 1px solid #e6e6e6;
							padding-bottom: 15px;
							padding-top: 8px;
						}	
						p{
							color: #666;
							font-size: 12px;
							line-height: 18px;
							display: block;
							margin-bottom: 10px;
						}
						i{
							display: inline-block;
							color: #fff;
							font-weight: 700;
							font-style:normal;
   							font-size: 12px;
   							margin-right: 3px;
   							line-height: 16px;
   							text-align: center;
   							width: 18px;
   							border-radius:2px;
   						}
   						.greybox{
							background-color: #F2F2F2;
							padding: 1px 10px;
							margin-bottom: 20px;	
   							span{
   								display: inline-block;
   								font-size: 12px;
   								padding: 0 4px;
   							}
   							.greyborder{
   								border-left: 1px solid #e6e6e6;
   								border-right: 1px solid #e6e6e6;	
   							}
   						}
   						.parag{
   							display: block;
   							line-height: 22px;
   						}
					}
				}
   			}
   			#abLeft1,#abLeft2,#abLeft3{
				left: -256px!important;
				.delta{
					left: 251px;
					border-color: #fff;
				}
				.delta-line{
					left: 258px;
					top: 30px;
					transform:rotate(135deg);
				}
   			}
   		}//merchant
	}
}


//foot
.foot{
	overflow: hidden;
	background-color: #f7f7f7;
	margin-top: 50px;
	border-top: 1px solid #eee;
	.foot-wrapper{
		overflow: hidden;
		width: $wrapper-width;
		margin: 0 auto;
		div{
			margin-top: 30px;
			float: left;
		}
		.foot-one,.foot-two,.foot-three{
			width:15%;
			span{
				font-size: 14px;
				line-height: 30px;
			}
			li{
				line-height: 20px;
				a{
					font-size: 12px;
					line-height: 0px;
					color: #999;
				}
			}
		}
		.foot-four{
			border-left: 1px #e6e6e6 solid;
			width: 23%;
    		padding-right: 10px;
    		padding-left: 3%;
			p{
				font-size: 14px;
				color: #666;
				line-height: 30px;
				i{
					cursor: pointer;
					font-size: 20px;
					color: #ccc;
					margin-right: 10px;
				}
				.fa-weixin{
					&:hover{
						color: #77d175;
					}
				}
				.fa-weibo{
					&:hover{
						color: #fb545f;
					}
				}
				.fa-renren{
					&:hover{
						color:#47a9f7;
					}
				}
			}
		}
		.foot-five{
			img{
				width: 77px;
				height: 77px;
				float: left;
			}
			div{
				margin-top: 20px;
				margin-left: 20px;
				vertical-align: middle;
				h3{
					font-size: 14px;
					font-weight: 700;
					line-height: 30px;
					color: #333;
				}
				p{
					font-size: 12px;
				}			
			}
		}
	}
	.bottom-p{
		color: #999;
		padding-top: 35px;
		display: block;
		text-align: center;
		font-size: 12px;
	}
	.bottom-img{
		margin-top: 7px;
		text-align: center;

		img{
			transform:translateX(-50%);
			height: 30px;
		}
	}	
}
