body {
  color: #333;
  font-family: arial;
  font-size: 12px;
  background: white;
  font: 400 1em/1.5 PingFang SC, Lantinghei SC, Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans; }

input, textarea, select {
  font-size: 12px;
  font-size: 100%;
  font-family: arial;
  font-family: inherit; }

body, h1, h2, h3, h4, h5, h6, p, ul, ol, form {
  margin: 0; }

h4, h5, h6 {
  font-size: 1em; }

ul, ol {
  padding-left: 0;
  list-style-type: none; }

a {
  text-decoration: none; }

.clear {
  clear: both; }

.delta {
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 6px solid black;
  border-top: 6px solid transparent;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent; }

.delta-line {
  width: 10px;
  height: 10px;
  border-top: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  transform: rotate(-45deg); }

.menu-right {
  background-color: #504d53;
  width: 32px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  font-size: 15px;
  font-weight: bold; }
  .menu-right a {
    position: relative;
    color: #ccc;
    display: block;
    width: 100%;
    height: auto;
    padding: 2px 0 2px 10px;
    margin: 10px 0 10px 0; }
    .menu-right a:hover {
      background-color: #0089dc; }
      .menu-right a:hover .icon-explain {
        visibility: visible;
        opacity: 1;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear; }
    .menu-right a .icon-explain {
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 0px;
      right: 45px; }
      .menu-right a .icon-explain span {
        font-size: 12px;
        background-color: #999;
        width: 50px;
        padding: 0 5px;
        height: 30px;
        line-height: 30px;
        display: inline-block;
        border-radius: 3px; }
      .menu-right a .icon-explain .delta-right {
        transform: rotate(90deg);
        position: absolute;
        right: -14px;
        top: 10px;
        border-bottom-color: #999; }
  .menu-right .menu-right-top {
    position: absolute;
    top: 126px; }
    .menu-right .menu-right-top span {
      width: 15px;
      font-size: 13px; }
    .menu-right .menu-right-top .line {
      margin-left: 10px;
      height: 0;
      width: 14px;
      border-top: 1px solid #fff; }
  .menu-right .menu-right-bottom {
    position: absolute;
    bottom: 55px; }
    .menu-right .menu-right-bottom a {
      position: relative;
      font-size: 20px;
      padding-left: 8px; }
      .menu-right .menu-right-bottom a .delsao {
        display: none;
        border: 1px solid #999;
        background-color: #fff;
        padding: 8px 8px 0 8px;
        position: absolute;
        right: 35px;
        top: -120px;
        font-size: 12px; }
        .menu-right .menu-right-bottom a .delsao .saoma img {
          width: 111px;
          height: 111px; }
        .menu-right .menu-right-bottom a .delsao .saoma span {
          text-align: center;
          display: block;
          font-weight: 300;
          font-size: 15px;
          line-height: 24px;
          color: #26a2ff; }
        .menu-right .menu-right-bottom a .delsao .saoma p {
          text-align: center;
          font-size: 12px;
          color: #f63;
          display: block; }
        .menu-right .menu-right-bottom a .delsao .delta {
          position: absolute;
          right: -13px;
          top: 130px;
          transform: rotate(90deg);
          border-bottom-color: #fff; }
    .menu-right .menu-right-bottom .topback {
      display: none;
      padding-left: 7px; }
      .menu-right .menu-right-bottom .topback img {
        width: 20px;
        height: 20px; }
    .menu-right .menu-right-bottom .line {
      margin-left: 10px;
      height: 0;
      width: 14px;
      border-top: 1px solid #fff; }

@media screen and (max-height: 550px) and (min-height: 500px) {
  .menu-right-bottom .qrcode {
    display: none; } }
@media screen and (max-height: 499px) and (min-height: 329px) {
  .line, .menu-right-bottom .qrcode, .menu-right-bottom .kefu, .menu-right-top .dingdan, .menu-right-top .xinxi, .menu-right-top .lishi {
    display: none; } }
@media screen and (max-height: 330px) {
  .line, .menu-right-top .gouwuche, .menu-right-bottom .qrcode, .menu-right-bottom .kefu, .menu-right-top .dingdan, .menu-right-top .xinxi, .menu-right-top .lishi {
    display: none; } }
.menu-head {
  width: 100%;
  background-color: #1e89e0; }
  .menu-head .menu-head-wrapper {
    width: 80%;
    margin: 0 auto; }
  .menu-head .menu-head-logo {
    margin-left: 0;
    float: left; }
    .menu-head .menu-head-logo a {
      font-size: 0;
      line-height: 0;
      height: 0; }
      .menu-head .menu-head-logo a img {
        vertical-align: middle; }
  .menu-head .menu-head-left {
    margin-left: 5px;
    float: left; }
    .menu-head .menu-head-left a:first-child {
      background-color: #006bc7; }
    .menu-head .menu-head-left a {
      font-size: 14px;
      display: block;
      float: left;
      height: 55px;
      line-height: 55px;
      padding: 0 38px 0 38px;
      color: #fff; }
      .menu-head .menu-head-left a:hover {
        background-color: #006bc7; }
  .menu-head .menu-head-middle {
    position: relative;
    float: left;
    margin-left: 130px; }
    .menu-head .menu-head-middle a {
      font-size: 13px;
      color: #d2e7f9;
      line-height: 55px;
      margin-right: 18px; }
      .menu-head .menu-head-middle a:hover {
        color: #fff; }
      .menu-head .menu-head-middle a i {
        font-size: 20px;
        padding-right: 10px; }
    .menu-head .menu-head-middle .delsao {
      display: none;
      position: absolute;
      top: 50px;
      left: 200px; }
      .menu-head .menu-head-middle .delsao .saoma {
        background-color: #fff;
        border: 1px solid #999;
        padding: 0 10px 9px 10px; }
        .menu-head .menu-head-middle .delsao .saoma p {
          font-size: 14px;
          line-height: 40px;
          font-weight: 700; }
        .menu-head .menu-head-middle .delsao .saoma img {
          width: 154px;
          height: 154px; }
      .menu-head .menu-head-middle .delsao .delta {
        position: absolute;
        left: 5px;
        top: -13px;
        border-bottom-color: #fff; }
  .menu-head .menu-head-right {
    float: right; }
    .menu-head .menu-head-right a {
      font-size: 14px;
      color: #fff;
      line-height: 55px; }
      .menu-head .menu-head-right a i {
        font-size: 20px;
        margin-right: 10px; }

.menu-scroll {
  background-color: #fff;
  z-index: 3;
  width: 80%;
  left: 0;
  right: 0;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  background-color: #f5f5f5;
  font-size: 13px;
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6; }
  .menu-scroll span {
    float: left;
    height: 40px;
    line-height: 40px;
    vertical-align: 35%;
    display: inline-block;
    padding: 0 10px 0 10px; }
    .menu-scroll span a {
      font-size: 14px;
      color: #0089dc; }
  .menu-scroll ul {
    float: left;
    padding-right: 10px; }
    .menu-scroll ul li {
      padding: 0 8px 0 8px;
      float: left; }
      .menu-scroll ul li a {
        height: 40px;
        line-height: 40px;
        color: #666; }
    .menu-scroll ul #Mchoose1 .choFrom {
      width: 87px;
      left: 0px; }
    .menu-scroll ul #Mchoose2 .choFrom {
      width: 130px;
      left: 0px; }
    .menu-scroll ul #Mchoose1, .menu-scroll ul #Mchoose2 {
      position: relative; }
      .menu-scroll ul #Mchoose1 .choFrom, .menu-scroll ul #Mchoose2 .choFrom {
        font-size: 13px;
        z-index: 3;
        display: none;
        border-bottom: 1px solid #e6e6e6;
        border-left: 1px solid #e6e6e6;
        border-right: 1px solid #e6e6e6;
        background-color: #fff;
        position: absolute;
        top: 0; }
        .menu-scroll ul #Mchoose1 .choFrom span, .menu-scroll ul #Mchoose2 .choFrom span {
          font-size: 13px;
          padding: 0 6px;
          height: auto;
          display: block;
          font-size: 13px;
          text-align: center; }
        .menu-scroll ul #Mchoose1 .choFrom .a-list, .menu-scroll ul #Mchoose2 .choFrom .a-list {
          margin-left: 10px;
          float: left; }
          .menu-scroll ul #Mchoose1 .choFrom .a-list a, .menu-scroll ul #Mchoose2 .choFrom .a-list a {
            height: 28px;
            line-height: 28px;
            height: auto;
            display: block;
            text-align: center; }
            .menu-scroll ul #Mchoose1 .choFrom .a-list a:hover, .menu-scroll ul #Mchoose2 .choFrom .a-list a:hover {
              color: #0089dc; }
  .menu-scroll .check4 {
    float: left;
    margin: 6px 10px 4px 0;
    padding: 4px 0 4px 0;
    border-left: 1px solid #e6e6e6; }
    .menu-scroll .check4 label {
      margin: 0 3px 0 3px; }
  .menu-scroll .search {
    background-color: #fff;
    margin-right: 2px;
    margin-top: 5px;
    border: 1px solid #ccc;
    float: right; }
    .menu-scroll .search form {
      display: inline-block; }
      .menu-scroll .search form input {
        width: 220px;
        border: none;
        outline: none;
        font-size: 13px;
        line-height: 13px;
        padding-left: 5px; }
    .menu-scroll .search a {
      color: #999;
      margin-right: 5px;
      font-size: 18px; }
      .menu-scroll .search a:hover {
        color: #0089dc; }

.wrapper {
  width: 80%;
  margin: 0 auto; }
  .wrapper .now-loca {
    width: 100%; }
    .wrapper .now-loca div:first-child {
      float: left; }
      .wrapper .now-loca div:first-child span {
        line-height: 50px;
        margin-right: 5px;
        color: #999;
        font-size: 12px; }
      .wrapper .now-loca div:first-child span + span {
        color: #000; }
        .wrapper .now-loca div:first-child span + span:hover {
          color: #0089dc; }
      .wrapper .now-loca div:first-child a {
        font-size: 12px;
        color: #0089dc;
        line-height: 50px; }
    .wrapper .now-loca .search {
      border: 1px solid #ccc;
      margin-top: 10px;
      float: right; }
      .wrapper .now-loca .search form {
        display: inline-block; }
        .wrapper .now-loca .search form input {
          width: 200px;
          border: none;
          outline: none;
          font-size: 13px;
          line-height: 13px;
          padding-left: 5px; }
      .wrapper .now-loca .search a {
        color: #999;
        margin-right: 5px;
        font-size: 18px; }
        .wrapper .now-loca .search a:hover {
          color: #0089dc; }
  .wrapper .ad {
    width: 100%; }
  .wrapper .mer-classificatin {
    position: relative; }
    .wrapper .mer-classificatin .girl {
      position: absolute;
      right: 0;
      top: -5px;
      width: 175px;
      height: 50px; }
    .wrapper .mer-classificatin .classifi a:first-child {
      color: #0089dc;
      border-bottom: 2px solid #0089dc; }
    .wrapper .mer-classificatin .classifi a {
      text-align: center;
      display: inline-block;
      width: 100px;
      line-height: 40px;
      height: 40px;
      margin-bottom: -2px;
      color: #000; }
    .wrapper .mer-classificatin .classifi-content {
      padding: 10px 0 10px 0;
      font-size: 13px;
      border-top: 2px solid #999;
      border-left: 1px solid #999;
      border-right: 1px solid #999; }
      .wrapper .mer-classificatin .classifi-content span {
        font-size: 14px;
        color: #999;
        vertical-align: 40%;
        display: inline-block;
        padding: 0 10px 0 10px; }
      .wrapper .mer-classificatin .classifi-content ul {
        display: inline-block; }
        .wrapper .mer-classificatin .classifi-content ul li {
          float: left;
          padding: 3px 10px;
          margin: 0 6px 0 6px; }
          .wrapper .mer-classificatin .classifi-content ul li a {
            color: #666; }
        .wrapper .mer-classificatin .classifi-content ul .li-backgcolor {
          display: inline-block;
          background-color: #0089dc;
          border-radius: 3px; }
          .wrapper .mer-classificatin .classifi-content ul .li-backgcolor a {
            color: #fff; }
    .wrapper .mer-classificatin .classifi-order {
      background-color: #f5f5f5;
      font-size: 13px;
      border-bottom: 1px solid #e6e6e6;
      border-left: 1px solid #e6e6e6;
      border-right: 1px solid #e6e6e6; }
      .wrapper .mer-classificatin .classifi-order .span-title {
        float: left;
        height: 40px;
        line-height: 40px;
        vertical-align: 35%;
        display: inline-block;
        padding: 0 10px 0 10px; }
        .wrapper .mer-classificatin .classifi-order .span-title a {
          font-size: 14px;
          color: #0089dc; }
      .wrapper .mer-classificatin .classifi-order ul {
        float: left; }
        .wrapper .mer-classificatin .classifi-order ul li {
          padding: 0 7px 0 7px;
          float: left; }
          .wrapper .mer-classificatin .classifi-order ul li a {
            height: 40px;
            line-height: 40px;
            color: #666; }
        .wrapper .mer-classificatin .classifi-order ul #choose1 .choFrom {
          width: 85px;
          left: -4px; }
        .wrapper .mer-classificatin .classifi-order ul #choose2 .choFrom {
          width: 115px;
          left: 0; }
        .wrapper .mer-classificatin .classifi-order ul #choose1, .wrapper .mer-classificatin .classifi-order ul #choose2 {
          position: relative; }
          .wrapper .mer-classificatin .classifi-order ul #choose1 .choFrom, .wrapper .mer-classificatin .classifi-order ul #choose2 .choFrom {
            z-index: 3;
            display: none;
            border-bottom: 1px solid #e6e6e6;
            border-left: 1px solid #e6e6e6;
            border-right: 1px solid #e6e6e6;
            background-color: #fff;
            position: absolute;
            top: 0; }
            .wrapper .mer-classificatin .classifi-order ul #choose1 .choFrom span, .wrapper .mer-classificatin .classifi-order ul #choose2 .choFrom span {
              height: auto;
              display: block;
              font-size: 13px;
              text-align: center; }
            .wrapper .mer-classificatin .classifi-order ul #choose1 .choFrom .a-list, .wrapper .mer-classificatin .classifi-order ul #choose2 .choFrom .a-list {
              margin-left: 10px;
              float: left; }
              .wrapper .mer-classificatin .classifi-order ul #choose1 .choFrom .a-list a, .wrapper .mer-classificatin .classifi-order ul #choose2 .choFrom .a-list a {
                height: 28px;
                line-height: 28px;
                height: auto;
                display: block;
                text-align: center; }
                .wrapper .mer-classificatin .classifi-order ul #choose1 .choFrom .a-list a:hover, .wrapper .mer-classificatin .classifi-order ul #choose2 .choFrom .a-list a:hover {
                  color: #0089dc; }
      .wrapper .mer-classificatin .classifi-order form {
        float: right;
        margin: 6px 10px 4px 0;
        padding: 4px 0 4px 0;
        border-left: 1px solid #e6e6e6; }
        .wrapper .mer-classificatin .classifi-order form label {
          margin: 0 3px 0 3px; }
    .wrapper .mer-classificatin .around-title {
      margin-top: 10px;
      line-height: 40px;
      padding: 0 10px;
      background-color: #fffdee;
      border: 1px solid #ffe4b9; }
      .wrapper .mer-classificatin .around-title p {
        color: #333;
        line-height: 40px;
        font-size: 14px; }
        .wrapper .mer-classificatin .around-title p span {
          display: inline-block;
          color: #f63;
          font-size: 20px;
          font-weight: 400;
          padding: 0 3px; }
        .wrapper .mer-classificatin .around-title p a {
          color: #0089dc; }
  .wrapper .merchant-wrapper {
    border: 1px solid #e6e6e6;
    border-bottom: 0;
    margin-top: 20px; }
    .wrapper .merchant-wrapper .merchant {
      cursor: pointer;
      position: relative;
      float: left;
      width: 25%;
      border-bottom: 1px #f5f5f5 solid; }
      .wrapper .merchant-wrapper .merchant:hover {
        background-color: #F5F5F5; }
        .wrapper .merchant-wrapper .merchant:hover .mer-abso {
          display: block; }
      .wrapper .merchant-wrapper .merchant h3 {
        font-size: 14px;
        margin-bottom: 6px;
        font-weight: 600;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      .wrapper .merchant-wrapper .merchant .merchant-content {
        position: relative;
        padding: 20px; }
        .wrapper .merchant-wrapper .merchant .merchant-content span {
          font-size: 13px;
          color: #999; }
        .wrapper .merchant-wrapper .merchant .merchant-content .mer-image {
          float: left;
          padding-right: 20px; }
          .wrapper .merchant-wrapper .merchant .merchant-content .mer-image span {
            display: block; }
        .wrapper .merchant-wrapper .merchant .merchant-content .merchant-text {
          float: left; }
          .wrapper .merchant-wrapper .merchant .merchant-content .merchant-text .icon-star {
            position: relative;
            font-size: 13px;
            color: #999; }
            .wrapper .merchant-wrapper .merchant .merchant-content .merchant-text .icon-star .icon-star-on {
              color: yellow;
              position: absolute;
              top: 0; }
          .wrapper .merchant-wrapper .merchant .merchant-content .merchant-text .merchant-ab {
            position: absolute;
            top: 48px;
            right: 20px; }
          .wrapper .merchant-wrapper .merchant .merchant-content .merchant-text .icon-square {
            font-size: 12px;
            margin-top: 9px; }
            .wrapper .merchant-wrapper .merchant .merchant-content .merchant-text .icon-square i {
              color: #fff;
              font-weight: 700;
              display: inline-block;
              font-style: normal;
              margin-right: 3px;
              line-height: 16px;
              text-align: center;
              width: 18px;
              border-radius: 2px; }
      .wrapper .merchant-wrapper .merchant .mer-abso {
        display: none;
        z-index: 2;
        background-color: #fff;
        position: absolute;
        right: -265px;
        top: 0;
        width: 270px; }
        .wrapper .merchant-wrapper .merchant .mer-abso .delta {
          transform: rotate(-90deg);
          position: absolute;
          left: -11px;
          top: 30px;
          border-bottom-color: #fff; }
        .wrapper .merchant-wrapper .merchant .mer-abso .delta-line {
          position: absolute;
          left: -7px;
          top: 30px; }
        .wrapper .merchant-wrapper .merchant .mer-abso .abso-text {
          width: 261px;
          border: 1px solid #e6e6e6; }
          .wrapper .merchant-wrapper .merchant .mer-abso .abso-text .abso-content {
            padding: 10px; }
            .wrapper .merchant-wrapper .merchant .mer-abso .abso-text .abso-content h3 {
              display: block;
              border-bottom: 1px solid #e6e6e6;
              padding-bottom: 15px;
              padding-top: 8px; }
            .wrapper .merchant-wrapper .merchant .mer-abso .abso-text .abso-content p {
              color: #666;
              font-size: 12px;
              line-height: 18px;
              display: block;
              margin-bottom: 10px; }
            .wrapper .merchant-wrapper .merchant .mer-abso .abso-text .abso-content i {
              display: inline-block;
              color: #fff;
              font-weight: 700;
              font-style: normal;
              font-size: 12px;
              margin-right: 3px;
              line-height: 16px;
              text-align: center;
              width: 18px;
              border-radius: 2px; }
            .wrapper .merchant-wrapper .merchant .mer-abso .abso-text .abso-content .greybox {
              background-color: #F2F2F2;
              padding: 1px 10px;
              margin-bottom: 20px; }
              .wrapper .merchant-wrapper .merchant .mer-abso .abso-text .abso-content .greybox span {
                display: inline-block;
                font-size: 12px;
                padding: 0 4px; }
              .wrapper .merchant-wrapper .merchant .mer-abso .abso-text .abso-content .greybox .greyborder {
                border-left: 1px solid #e6e6e6;
                border-right: 1px solid #e6e6e6; }
            .wrapper .merchant-wrapper .merchant .mer-abso .abso-text .abso-content .parag {
              display: block;
              line-height: 22px; }
      .wrapper .merchant-wrapper .merchant #abLeft1, .wrapper .merchant-wrapper .merchant #abLeft2, .wrapper .merchant-wrapper .merchant #abLeft3 {
        left: -256px !important; }
        .wrapper .merchant-wrapper .merchant #abLeft1 .delta, .wrapper .merchant-wrapper .merchant #abLeft2 .delta, .wrapper .merchant-wrapper .merchant #abLeft3 .delta {
          left: 251px;
          border-color: #fff; }
        .wrapper .merchant-wrapper .merchant #abLeft1 .delta-line, .wrapper .merchant-wrapper .merchant #abLeft2 .delta-line, .wrapper .merchant-wrapper .merchant #abLeft3 .delta-line {
          left: 258px;
          top: 30px;
          transform: rotate(135deg); }

.foot {
  overflow: hidden;
  background-color: #f7f7f7;
  margin-top: 50px;
  border-top: 1px solid #eee; }
  .foot .foot-wrapper {
    overflow: hidden;
    width: 80%;
    margin: 0 auto; }
    .foot .foot-wrapper div {
      margin-top: 30px;
      float: left; }
    .foot .foot-wrapper .foot-one, .foot .foot-wrapper .foot-two, .foot .foot-wrapper .foot-three {
      width: 15%; }
      .foot .foot-wrapper .foot-one span, .foot .foot-wrapper .foot-two span, .foot .foot-wrapper .foot-three span {
        font-size: 14px;
        line-height: 30px; }
      .foot .foot-wrapper .foot-one li, .foot .foot-wrapper .foot-two li, .foot .foot-wrapper .foot-three li {
        line-height: 20px; }
        .foot .foot-wrapper .foot-one li a, .foot .foot-wrapper .foot-two li a, .foot .foot-wrapper .foot-three li a {
          font-size: 12px;
          line-height: 0px;
          color: #999; }
    .foot .foot-wrapper .foot-four {
      border-left: 1px #e6e6e6 solid;
      width: 23%;
      padding-right: 10px;
      padding-left: 3%; }
      .foot .foot-wrapper .foot-four p {
        font-size: 14px;
        color: #666;
        line-height: 30px; }
        .foot .foot-wrapper .foot-four p i {
          cursor: pointer;
          font-size: 20px;
          color: #ccc;
          margin-right: 10px; }
        .foot .foot-wrapper .foot-four p .fa-weixin:hover {
          color: #77d175; }
        .foot .foot-wrapper .foot-four p .fa-weibo:hover {
          color: #fb545f; }
        .foot .foot-wrapper .foot-four p .fa-renren:hover {
          color: #47a9f7; }
    .foot .foot-wrapper .foot-five img {
      width: 77px;
      height: 77px;
      float: left; }
    .foot .foot-wrapper .foot-five div {
      margin-top: 20px;
      margin-left: 20px;
      vertical-align: middle; }
      .foot .foot-wrapper .foot-five div h3 {
        font-size: 14px;
        font-weight: 700;
        line-height: 30px;
        color: #333; }
      .foot .foot-wrapper .foot-five div p {
        font-size: 12px; }
  .foot .bottom-p {
    color: #999;
    padding-top: 35px;
    display: block;
    text-align: center;
    font-size: 12px; }
  .foot .bottom-img {
    margin-top: 7px;
    text-align: center; }
    .foot .bottom-img img {
      transform: translateX(-50%);
      height: 30px; }

/*# sourceMappingURL=hungry.css.map */
